body {
    margin: 0;
    overflow: hidden;
    background-color: rgb(15, 15, 83); 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: rgb(255, 255, 255)
}

.header {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: #13c3de;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.number.clicked-wrong {
    background-color: #ff0000; /* Rot für falsche Zahlen */
}
